<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
  <style>
    /* Center the document container horizontally */
  
    .custom-image {
            width: 50%; /* Adjust the width as desired */
            height: auto; /* This will maintain the aspect ratio */
        }
  </style>
</head>
<body style = "background-color: white">
    <div class="container-fluid">
        <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
            <li><a id="len1" class="hoverable " href="/">Home</a></li>
            <!-- <li><a id="len2" class="hoverable" href="#">About</a></li> -->
            <li><a id="len3" class="hoverable " href="/research">Research</a></li>
            <li><a id="len4" class="hoverable active" href="/flow">Workflow</a></li>
            </ul>
        </div>
      </nav>
    </div>

  <!-- Add the document container and the embedded document -->
  <br><br><br><br>
  <img class="custom-image" src="static/flow1.png" alt="Image description" tyle="top: 100px;">

  <div class="footer" style="display: flex; flex-direction: column; align-items: center;">
    <a href="https://www.nu.edu.pk/" target="_blank">FAST-NU</a><br>
    <img src="static\uni logo.png" alt="Left Image" style=" width: 10%;"><br><br>
    <a href="http://isb.nu.edu.pk/aim/" target="_blank">AIM Lab</a><br>
    <img src="static\aim logo.png" alt="Left Image" style=" width: 10%;"><br><br>
  </div>


</body>
</html>
